<div class="jumbotron text-center">
    <h1 class="display-1">{{title}}</h1>
    <p class="lead">Jot down ideas for your next YouTube videos.</p>
    <a href="/ideas" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>
