<div class="card card-body">
  <h3>Video Idea</h3>
  <form class="" action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title" required />
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" type="text" name="details" required ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
