{{#each ideas}}
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
    <form class="" action="/ideas/{{id}}?_method=DELETE" method="post">
      <button type="submit" class="btn btn-danger btn-block">Delete</button>
    </form>
  </div>
{{else}}
  <p>No ideas listed</p>
{{/each}}
