<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img src="/img/logo.png" alt="logo" class="logo">
      <h3 class="text-center">Account Register</h3>
      <form class="" action="/users/register" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" value="{{name}}" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" value="{{email}}" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" value="{{password}}" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" value="{{password2}}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
